.ReactModal__Overlay--after-open{
    z-index: 999;
    background: "rgba(211,211,211,0.5)"
}
.ReactModal__Content--after-open{
    width: 500px;
    text-align: center;
    margin: auto;
    padding: 24px 43px!important;
    display: flex;
    align-items: center
}
.close-btn{
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 26px;
    transition: .3s;
}

.close-btn:hover{
    color: red;
}



.select-time{
    width: 100%;
    margin-bottom: 15px;
    padding: 6px 18px;
}
.MuiSelect-select.MuiSelect-select{
    color: #8B8888;
}
.MuiInput-underline:before, 
.MuiInput-underline:hover:not(.Mui-disabled):before,
.MuiInput-underline:after {
    border: 0 !important;
}
.MuiSelect-select:focus {
    background: none !important;
}
.select-time, .form-control {
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    text-align: left;
    font-size: 15px;
    color: #8B8888;
    width: 100%;
    text-transform: capitalize;
}
.form-control {
    padding: 20px 18px;
}
.submit-btn{
    padding: 8px 40px;
}