.ReactModal__Overlay--after-open{
    z-index: 999;
    background: "rgba(211,211,211,0.5)"
}
.ReactModal__Content--after-open{
    height:380px;
    width: 500px;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    padding: 25px 50px;
}
.close-btn{
    position: absolute;
    right: 15px;
    top: 6px;
    font-size: 26px;
    transition: .3s;
}

.close-btn:hover{
    color: red;
}

.MuiInput-underline:before, 
.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 0;
}
.select-time{
    width: 100%;
    margin-bottom: 15px;
}
.select-time, .form-control {
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    padding: 20px 18px;
    text-align: left;
    font-size: 15px;
    color: #8B8888;
}
.submit-btn{
    padding: 8px 40px;
}