/* sidebar content */
.layoutSidenav {
    display: flex;
    height: 100%;
    overflow: hidden;
}
.sidebar_content {
    width: 80%;
    position: relative;
    left: 20%;
    background-color: #fff;
    padding:20px  45px;
    
}
.sidebar_content h4 {
    color: #020202;
    font-weight: 600;
    font-size: 25px;
    text-transform: capitalize;
    padding-bottom: 40px;
}

/* siderbar */
.sidebar{
    background-image: linear-gradient(#19D3AE, #0FCFEC);
    position: fixed;
    height: 100%;
    width: 20%;
    padding: 45px 15px;
}
.sidebar li {
    line-height: 35px;
}
.nav-link {
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}
.nav-link span {
    transition: .5s;
    display: flex;
}
.nav-link span.active, 
.nav-link span:hover, 
.nav-link:focus {
    color: #000;
}
.nav-link:hover{
    color: #fff;
}
.sidebar-icon {
    width: 40px;
}

@media only screen and (max-width: 1199px) {
    .sidebar{
        width: 30%;
    }
    .sidebar_content {
        width: 75%;
        left: 28%;
    }
}
@media only screen and (max-width: 991px) {
    .sidebar{
        width: 35%;
    }
    .sidebar_content {
        width: 65%;
        left: 35%;
    }
}
@media only screen and (max-width: 767px) {
    .sidebar{
        width: 65%;
    }
    .sidebar_content {
        width: 65%;
        left: 40%;
    }
}
