.layoutSidenav {
    display: flex;
    height: 100%;
}
.sidebar{
    background-image: linear-gradient(#19D3AE, #0FCFEC);
    position: fixed;
    height: 100%;
    width: 20%;
}
.sidebar_content {
    width: 80%;
    position: relative;
    left: 20%;
}
.sidebar nav a{
    display: flex;
}
